/* Add necessary styles for the carousel */
.trend {
  padding-top: 60px;
  padding-left: 40%;
  padding-bottom: 20px;
  color: yellow;
}
.t {
  padding-bottom: 30px;
  color: white;
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
}
h1 {
  color: yellow;
  font-weight: bold;
}
.tag {
  color: white;
  /* font-weight: bold; */
}
.tagg {
  color: white;
  font-weight: bold;
}
.footer-area {
  padding: 40px 0px;
  background-color: black;
  color: #fff;
}
.footer-area a {
  text-decoration: none;
}
.footer-area .footer-heading {
  font-size: 24px;
  color: #fff;
}
.footer-area .footer-underline {
  height: 1px;
  width: 70px;
  background-color: #ddd;
  margin: 10px 0px;
}
.copyright-area {
  padding: 14px 0px;
  background-color: rgba(210, 210, 0, 0.934);
}
.copyright-area p {
  margin-bottom: 0px;
  color: black;
}
.copyright-area .social-media {
  text-align: end;
}
.copyright-area .social-media a {
  margin: 0px 10px;
  color: #fff;
  width: 20px;
}
