<div class="contain mt-5">
  <div class="row p-5">
    <h3 class="trend">Live the story</h3>
    <p class="t">
      Prepare to embark on an unforgettable journey filled with suspense,
      laughter, and heartfelt moments.
    </p>

    <div class="col-lg-3 movie-image">
      <img
        src="http://image.tmdb.org/t/p/w300/{{
          trendingMovieResult.poster_path
        }}"
      />
    </div>
    <div class="col-lg-9 movie-details">
      <h1 class="mt-2 mb-2">
        {{ trendingMovieResult.original_title }}
        <h2 class="tag">
          Genres:
          <span *ngFor="let genre of trendingMovieResult.genres">
            {{ genre.name }},
          </span>
        </h2>
      </h1>
      <p class="mt-3 mb-3 tagg">"{{ trendingMovieResult.tagline }}"</p>
      <p class="mt-3 mb-3 tag">{{ trendingMovieResult.overview }}</p>

      <p class="mt-3 mb-3 tag">
        Popularity : {{ trendingMovieResult.popularity }}
      </p>

      <p class="mt-3 mb-3 tag">budget : {{ trendingMovieResult.budget }}$</p>
      <p class="mt-3 mb-3 tag">
        language : {{ trendingMovieResult.original_language }}
      </p>
      <a
        class="btn btn-md btn-outline-warning"
        href="https://www.themoviedb.org/video/play?key={{
          getMovieVideoResult
        }}"
        target="_blank"
        >Watch Movie</a
      >
    </div>
  </div>
  <div class="mt-4 p-4">
    <!-- <h2 class="text-white g">Top cast</h2> -->
    <div class="row">
      <div class="col-lg-4" *ngFor="let c of getMovieCastResult">
        <div class="col-lg-2">
          <img src="http://image.tmdb.org/t/p/original/{{ c.profile_path }}" />
        </div>
        <div class="col-lg-10">
          <h3 class="text-white">{{ c.original_name }}</h3>
          <p class="text-white">{{ c.character }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="footer-heading">MovieMuse</h4>
          <div class="footer-underline"></div>
          <p>
            Stay up-to-date with the latest movie releases and trends in the
            industry. We provide valuable insights, news articles, and
            interviews with your favorite actors and directors. Dive into the
            world of cinema and immerse yourself in the magic of storytelling.
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="footer-heading">Quick Links</h4>
          <div class="footer-underline"></div>
          <div class="mb-2"><a href="" class="text-white">Home</a></div>
          <div class="mb-2"><a href="" class="text-white">About Us</a></div>
          <div class="mb-2"><a href="" class="text-white">Contact Us</a></div>
          <div class="mb-2"><a href="" class="text-white">Blogs</a></div>
        </div>

        <div class="col-md-4">
          <h4 class="footer-heading">Reach Us</h4>
          <div class="footer-underline"></div>
          <div class="mb-2">
            <p>
              <i class="fa-brands fa-linkedin"></i>
              <a
                href=" https://www.linkedin.com/in/khadija-belmadani-43abb9200?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BiXeQzqwpTd2dgzo2%2FTMwaA%3D%3D"
                class="text-white"
              >
                Khadija Belmadani</a
              >
            </p>
          </div>
          <div class="mb-2">
            <a href="" class="text-white">
              <i class="fa-brands fa-github"></i> Khadija Belmadani
            </a>
          </div>
          <div class="mb-2">
            <a href="" class="text-white">
              <i class="fa fa-phone"></i> +212770335681
            </a>
          </div>
          <div class="mb-2">
            <a href="" class="text-white">
              <i class="fa fa-envelope"></i> kbelmadani906@gmail.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="">&copy; 2023 - BELMADANI KHADIJA - All rights reserved.</p>
        </div>
        <div class="col-md-4">
          <div class="social-media">
            Get Connected:
            <a href=""><i class="fab fa-facebook" style="color: black"></i></a>
            <a href=""><i class="fab fa-twitter" style="color: black"></i></a>
            <a href=""><i class="fab fa-instagram" style="color: black"></i></a>
            <a href=""><i class="fab fa-youtube" style="color: black"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
